:root{
    --darkmode_bg: #111213;
    --darkmode_text: #FFFFFF;
    --darkmode_clr_primary: #0065FF;
    --darkmode-clr-about: #2954A2;
    --darkmode-clr-footer: #1E1E1E;
    --darkmode-clr-special: #cccccc;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkmode_bg);
    color: var(--darkmode_text);
    position: relative;
    font-size: clamp(0.75rem,2vw,1rem);
}
header{
    width: 100%;
    background-color: var(--darkmode_bg);
    position: fixed;
    top: 0;
    z-index: 3;
}
.responsivity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: clamp(1rem,2vw,2rem);
    padding-right: clamp(1rem,2vw,2rem);
    padding-top: clamp(0.75rem,2vw,1.5rem);
    padding-bottom: clamp(0.75rem,2vw,1.5rem);
}
.phone-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#brand{
    text-transform: capitalize;
    font-weight: initial;
}
header strong{
    font-size: clamp(1.125rem,2vw,2rem);
}
#theme-toggle{
    filter: invert();
    width: clamp(1rem,2.5vw,2rem);
    transition: all 0.3s;
}
#theme-toggle:hover{
    transform: rotate(90deg);
}
nav{
    display: flex;
    align-items: center;
}
ul.wide{
    display: flex;
    list-style: none;
    align-items: center;
    gap: clamp(1rem,2vw,2rem);
}
a{
    color: var(--darkmode_text);
    text-decoration: none;
}
a, li{
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.16s ease-in-out, border-bottom 0.16s ease-in-out;
    border-bottom: transparent solid 2px;
    font-size: clamp(0.75rem,1.25vw,1rem);
}
li:hover, .start-button:hover, .start-button-special:hover{
    border-bottom: var(--darkmode_text) solid 2px;
    cursor: pointer;
    transform: translateY(-2px);
}
.start-button:hover, .start-button-special:hover{
    box-shadow: 0 0 12px 4px #0065FF80;
    border-bottom: var(--darkmode-clr-special) solid 2px;
    transform: translateY(-2px);
}
li:last-child{
    border-bottom: none;
}
.start-button, .start-button-special{
    background-color: var(--darkmode_clr_primary);
    border-radius: 0.75rem;
    box-shadow: 0 0 12px 4px #0066ff00;
    padding: 0.5rem;
    text-align: center;
    transition: transform 0.16s ease-in-out, box-shadow 0.16s ease-in-out;
}
.hamburger{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.line-1, .line-2, .line-3{
    width: 1.25rem;
    height: 0.125rem;
    background-color: var(--darkmode_text);
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
}
.hamburger.change .line-1{
    transform: rotate(45deg) translate(0,8.5px);
}
.hamburger.change .line-2{
    opacity: 0;
}
.hamburger.change .line-3{
    transform: rotate(-45deg) translate(0,-8.5px);
}
.hamburger-menu{
    display: none;
}
.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    color: var(--darkmode_text);
}
main, .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero{
    height: 100vh;
    height: 100dvh;
}
h1{
    font-family: "Poppins", sans-serif;
    font-size: clamp(2.5rem, 7vw, 6rem);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
    text-align: center;
}
.hero>p{
    font-weight: 300;
    margin-top: 0;
    font-size: clamp(1rem,2.5vw,2rem);
}
.start-button-special{
    font-size: clamp(1rem,1.5vw,1.5rem);
    margin-top: clamp(0.75rem,2vw,1rem);
    z-index: 2;
    border-bottom: transparent solid 2px;
}
.about{
    background-color: var(--darkmode-clr-about);
    width: 100%;
    padding: clamp(1rem,2.5vw,2rem);
    padding-bottom: clamp(10rem, 30vh, 18rem);
    padding-top: clamp(8rem, 15vh, 12rem);
    text-align: center;
    z-index: 1;
    font-size: clamp(0.75rem,2vw,1rem);
    margin-top: clamp(-4rem, - 6vh, -6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about h2{
    font-size: clamp(1.75rem, 4vw, 3.5rem);
    margin-top: clamp(3rem, 4vw, 5rem);
}
.divider, .divider-footer{
    height: 50vh;
    width: 100%;
    overflow: hidden;
}
.divider{
    margin-top: clamp(-25rem, -40vh, -15rem);
}
#lightmode-divider {
    display: none;
}
body.light-mode #lightmode-divider {
    display: block;
}
body.light-mode #darkmode-divider {
    display: none;
}
.hidden{
    display: none;
}
.divider-footer{
    margin-top: clamp(-25rem, -40vh, -15rem);
    z-index: 2;
}
.divider img, .divider-footer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2) translateY(20%);
}
h2{
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    margin: clamp(1rem,2.5vw,2rem);
}
.about p{
    padding: clamp(3rem, 4vw, 5rem);
    padding-top: 0;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    max-width: 80rem;
}
footer{
    background-color: var(--darkmode-clr-footer);
    width: 100%;
    display: flex;
    justify-content: center;
}
body.light-mode {
    --darkmode_bg: #F8FAFC;
    --darkmode_text: #111213;
    --darkmode-clr-about: #93C5FD;
    --darkmode-clr-footer: #395EA2;
}

body.light-mode #theme-toggle {
    filter: none;
}

body.light-mode a {
    color: var(--darkmode_text);
}

body.light-mode .start-button, body.light-mode .start-button-special {
    background-color: var(--darkmode_clr_primary);
    color: var(--darkmode_bg);
}
body.light-mode footer {
    color: var(--darkmode_bg);
}
body.light-mode .start-button:hover, body.light-mode .start-button-special:hover{
    border-bottom: #113086 solid 2px;
}
body.light-mode .about{
    color: #0F172A;
}
#footer-lightmode {
    display: none;
}

body.light-mode #footer-lightmode {
    display: flex;
}

body.light-mode #footer-darkmode {
    display: none;
}
@media(width>768px){
    .hamburger{
        display: none;
    }
    .line-1, .line-2, .line-3{
        display: none;
    }
}
@media(width<=768px){
    ul.wide{
        display: none;
    }
    .phone-header{
        width: 100%;
    }
}