:root{
    --darkmode_bg: #111213;
    --darkmode_text: #FFFFFF;
    --darkmode_clr_primary: #0065FF;
    --darkmode-clr-about: #2954A2;
}
body{
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--darkmode_bg);
    color: var(--darkmode_text);
    position: relative;
}
header{
    width: 100%;
    display: flex;
    backdrop-filter: blur(20px);
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    z-index: 2;
}
header strong{
    font-size: 2rem;
}
#theme-toggle{
    filter: invert();
    width: 2rem;
    margin-left: 15rem;
    transition: all 0.3s;
}
#theme-toggle:hover{
    transform: rotate(90deg);
}
nav{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}
header a{
    color: var(--darkmode_text);
    text-decoration: none;
}
a, li{
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.05s ease-in-out;
}
li:hover{
    transform: scale(1.05);
    border-bottom: var(--darkmode_text) solid 2px;
    transform: translateY(1);
}
.start-button{
    background-color: var(--darkmode_clr_primary);
    border-radius: 0.75rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0 12px 4px #0065FF80;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: "Poppins", sans-serif;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 0;
}
.hero p{
    text-align: center;
    font-weight: 500;
    margin-top: 0;
    font-size: 2.5rem;
}
.about{
    background-color: var(--darkmode-clr-about);
    padding: 2rem;
    text-align: center;
    z-index: 1;
}
.about h2{
    font-size: 3.5rem;
}
.wave{
    width: 100%;
    margin-top: 14rem;
    margin-bottom: 2.5rem;
    justify-content: center;
}
#wave{
    scale: 5.3;
}
h2{
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 2rem;
}
.about p{
    margin-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.25rem;
}