:root{
    --darkmode_bg: #111213;
    --darkmode_text: #FFFFFF;
    --darkmode_clr_primary: #0065FF;
    --darkmode-card-bg: #1D1E20;
    --darkmode-card-action: #2a2a2e;
    --darkmode-card-border: #67686B;
}
body{
    height: 100vh; /*telefon bude muset scrollovat pokud bude vice karet tho*/
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    background-color: var(--darkmode_bg);
    color: var(--darkmode_text);
}
header{
    display: flex;
    flex-direction: column;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    padding: min(1rem, 3%);
}
.part-1, .part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkmode_text);
    font-size: clamp(0.75rem,2vw,1rem);
    text-decoration: none;
    gap: clamp(0.5rem,1vw,1.5rem);
    transition: all 0.3s;
}
.part-2:hover{
    transform: rotate(90deg);
    cursor: pointer;
}
.header-top img{
    width: 1.75rem;
    filter: invert();
}
.header-top img:last-child{
    width: clamp(1.5rem,4vw,1.75rem);
}
.header-bottom{
    display: flex;
}
.completed{
    width: 33.5%;
    height: 0.25rem;
    color: #2954A2;
    background-color: #2954A2;
    border: none;
}
.uncomplete{
    width: 66.5%;
    height: 0.25rem;
    color: var(--darkmode-card-border);
    background-color: var(--darkmode-card-border);
    border: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main>b{
    font-size: clamp(1.25rem, 4vw,3rem);
    font-weight: 700;
    text-align: center;
    margin-top: min(5rem,10%);
}
.cards{
    display: flex;
    gap: 2rem;
    margin: min(5rem,9%);
    margin-bottom: min(3rem,7%);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem,1vw,2rem);
    border-radius: 2rem;
    background-color: var(--darkmode-card-bg);
    border: 5px solid var(--darkmode-card-border);
    padding: clamp(1rem,3vw,3rem);
    padding-bottom: clamp(2rem,3vw,5rem);
    transition: all 0.2s ease-in-out;
}
.card:hover{
    background-color: var(--darkmode-card-action);
    cursor: pointer;
}
.card img{
    width: clamp(9rem,5vw,8vw);
    border-radius: 1rem;
    border: 5px solid var(--darkmode-card-border);
}
.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.75rem,1vw,1rem);
}
.card-text b{
    text-transform: uppercase;
    font-size: clamp(1rem,2vw,2rem);
}
.card:hover, .card.selected{
    transform: translateY(-1rem);
}
.card.selected, .card.selected img{
    border-color: var(--darkmode_clr_primary);
}
.continue-button{
    padding: clamp(0.75rem,1vw,1rem);
    font-size: clamp(0.75rem,1vw,1rem);
    text-transform: uppercase;
    pointer-events: none;
    border: 2px solid var(--darkmode_text);
    border-radius: 1rem;
    color: var(--darkmode_text);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
.continue-button.enabled{
    background-color: var(--darkmode_clr_primary);
    pointer-events: all;
}
footer{
    align-self: flex-end;
    margin-top: auto;
    padding-right: 1rem;
    font-size: clamp(0.5rem,1vw,1rem);
}