:root{
    --darkmode_bg: #111213;
    --darkmode_text: #FFFFFF;
    --darkmode_clr_primary: #0065FF;
    --darkmode-clr-about: #2954A2;
    --darkmode-clr-footer: #1E1E1E;
    --darkmode-card-bg: #1D1E20;
    --darkmode-card-action: #2a2a2e;
    --darkmode-card-border: #67686B;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    background-color: var(--darkmode_bg);
    color: var(--darkmode_text);
}
header{
    display: flex;
    flex-direction: column;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    padding: min(1rem, 3%);
}
.part-1, .part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkmode_text);
    font-size: clamp(0.75rem,2vw,1rem);
    text-decoration: none;
    gap: clamp(0.5rem,1vw,1.5rem);
    transition: all 0.3s;
}
.part-2:hover{
    transform: rotate(90deg);
    cursor: pointer;
}
.header-top img{
    width: 1.75rem;
    filter: invert();
}
.header-top img:last-child{
    width: clamp(1.5rem,4vw,1.75rem);
}
.header-bottom{
    display: flex;
}
.completed{
    width: 100%;
    height: 0.25rem;
    color: #2954A2;
    background-color: #2954A2;
    border: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main>b{
    font-size: clamp(1.25rem, 4vw,3rem);
    font-weight: 700;
    text-align: center;
    margin-top: min(5rem,10%);
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: min(5rem,9%);
    margin-bottom: min(3rem,7%);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(14rem, 22vw,24rem);
    gap: clamp(1rem,1vw,2rem);
    border-radius: 2rem;
    padding: clamp(2rem,3vw,3rem);
    padding-top: clamp(3rem,4vw,5rem);
    padding-bottom: clamp(3rem,4vw,5rem);
    background-color: var(--darkmode-card-bg);
    border: 5px solid var(--darkmode-card-border);
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.card:hover{
    background-color: var(--darkmode-card-action);
    cursor: pointer;
    transform: translateY(-1rem);
}
.card img{
    width: clamp(8rem,9vw,12rem);
}
.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.75rem,1vw,1rem);
}
.card-text b{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem,2.5vw,2.5rem);
}
.continue-button{
    padding: clamp(0.75rem,1vw,1rem);
    font-size: clamp(0.75rem,1vw,1rem);
    text-transform: uppercase;
    border: 2px solid var(--darkmode_text);
    border-radius: 1rem;
    color: var(--darkmode_text);
    text-decoration: none;
    font-weight: 600;
}
footer{
    align-self: flex-end;
    margin-top: auto;
    padding-right: 1rem;
    font-size: clamp(0.5rem,1vw,1rem);
}