:root{
    --darkmode_bg: #111213;
    --darkmode_text: #FFFFFF;
    --darkmode_clr_primary: #0065FF;
    --darkmode-card-bg: #1D1E20;
    --darkmode-card-action: #2a2a2e;
    --darkmode-card-border: #67686B;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-row: 1fr;
    font-family: "Nunito", sans-serif;
    font-size: clamp(0.75rem,2vw,1rem);
    background-color: var(--darkmode_bg);
    color: var(--darkmode_text);
    height: 100vh;
}
.sidebar{
    display: flex;
    flex-direction: column;
    border-right: var(--darkmode-card-border) 3px solid;
    justify-content: space-between;
}
.top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.75rem,2vw,1rem);
    text-transform: capitalize;
    font-size: clamp(0.75rem,2vw,1.5rem);
    font-family: "Poppins", sans-serif;
}
.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hamburger{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.line-1, .line-2, .line-3{
    width: 1.25rem;
    height: 0.125rem;
    background-color: var(--darkmode_text);
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
}
.hamburger.change .line-1{
    transform: rotate(45deg) translate(0,8.5px);
}
.hamburger.change .line-2{
    opacity: 0;
}
.hamburger.change .line-3{
    transform: rotate(-45deg) translate(0,-8.5px);
}
.hamburger-menu{
    display: none;
}
#logo{
    font-family: "Nunito", sans-serif;
    font-size: clamp(1rem,2vw,2rem);
}
.top img{
    width: clamp(1.125rem, 3vh, 1.75rem);
    height: clamp(1.125rem, 3vh, 1.75rem);
    padding: 0.5rem;
    background-color: var(--darkmode-card-bg);
    border: var(--darkmode-card-border) 2px solid;
    border-radius: 0.5rem;
}
.top img:hover{
    background-color: var(--darkmode-card-action);
    cursor: pointer;
}
.hamburger-menu{
    display: none;
}
.hamburger-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hamburger-menu li{
    font-size: 1.5rem;
}
.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    color: var(--darkmode_text);
}
.crossroad, .stats, .user, .welcome, .quote, .lesson-recap, .hamburger-menu.active .crossroad-mobile, .hamburger-menu.active .stats-mobile, .hamburger-menu.active .user-mobile {
    display: flex;
    flex-direction: column;
    padding: clamp(1rem, 1.5vw, 1.25rem);
    margin: clamp(0.75rem,2vw,1rem);
    border: var(--darkmode-card-border) 3px solid;
    border-radius: 2.25rem;
}
.crossroad{
    padding-right: clamp(0.75rem,2vw,1rem);
    padding: clamp(0.75rem,2vw,1rem);
}
.crossroad a, .hamburger-menu.active .crossroad-mobile a{
    display: flex;
    gap: clamp(0.75rem,2vw,1rem);
    align-items: center;
    color: var(--darkmode_text);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
    padding: clamp(0.75rem,2vw,1rem);
    margin: clamp(0.75rem,2vw,1rem);
    padding-top: 0;
    border-bottom: var(--darkmode_bg) solid 2px;
    border-radius: 0.5rem;
    transition: all 0.15s ease-in-out;
}
.crossroad a:first-child{
    padding-top: clamp(0.75rem,2vw,1rem);
}
.crossroad a:hover{
    border-bottom: var(--darkmode_text) solid 2px;
}
.crossroad img{
    width: clamp(0.75rem,2vw,1.5rem);
}
.stats, .hamburger-menu.active .stats-mobile{
    justify-content: center;
    align-items: center;
    padding-top: clamp(0.75rem,2vw,1.5rem);
    padding-bottom: clamp(0.75rem,2vw,1.5rem);
}
.stats img, .hamburger-menu.active .stats-mobile img{
    width: clamp(1.5rem,2vw,2rem);
}
.streak, .time{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: clamp(0.75rem,2vw,1rem);
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(0.75rem,2vw,1rem);
}
.stats hr, .hamburger-menu.active .stats-mobile hr{
    border: none;
    background-color: var(--darkmode-card-border);
    width: 80%;
    margin: clamp(0.75rem,2vw,1rem);
    height: 3px;
}
.user, .hamburger-menu.active .user-mobile {
    gap: clamp(0.75rem,2vw,1rem);
}
.user-info{
    display: flex;
    align-items: center;
    gap: clamp(0.75rem,2vw,1rem);
}
.user-info img:first-child{
    width: clamp(2.25rem, 3vw, 3rem);
    height: clamp(2.25rem, 3vw, 3rem);
    border-radius: clamp(0.75rem,2vw,1rem);
    border: var(--darkmode-card-border) 2px solid;
}
.user-info img:last-child{
    width: clamp(0.75rem,2vw,1.5rem);
    height: clamp(0.75rem,2vw,1.5rem);
    filter: invert();
}
.username b{
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}
.username p{
    font-size: 0.7rem;
}
.settings, .support{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
    font-size: 0.7rem;
}
.settings img, .support img{
    width: clamp(0.75rem,2vw,1.5rem);
}
.settings a, .support a, .top a{
    color: var(--darkmode_text);
    text-decoration: none;
} 
.crossroad-mobile, .stats-mobile, .user-mobile {
    display: none;
}

.hamburger-menu.active .crossroad-mobile, .hamburger-menu.active .stats-mobile, .hamburger-menu.active .user-mobile {
    display: flex;
    justify-content: center;
}
.nav-tile{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    gap: 1rem;
}
.nav-tile .vertical{
    width: auto;
}
.welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: clamp(2.25rem, 3vw, 3rem);
    height: 50vh;
}
.greeting{
    padding: clamp(2.25rem, 3vw, 3rem);
}
.greeting b{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
.greeting p{
    font-size: clamp(0.75rem,2vw,1.5rem);
}
.start-lesson{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(3rem, 6vw, 5rem);
    background-color: var(--darkmode-card-bg);
    border: var(--darkmode-card-border) 2px solid;
    border-radius: 2rem;
    padding: clamp(3rem, 6vw, 5rem);
    height: 100%;
}
.start-lesson img{
    width: clamp(8rem, 10vw, 15rem);
    height: clamp(8rem, 10vw, 15rem);
    box-shadow: inset var(--darkmode_clr_primary) 0 0 6rem -1rem;
    border-radius: 2rem;
    padding: clamp(2rem, 4vw, 4rem);
    transition: all 0.2s ease-in-out;
}
.start-lesson img:hover{
    box-shadow: inset var(--darkmode_clr_primary) 0 0 6rem 1rem;
}
.lesson-summary b{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: clamp(1rem, 3vh, 1.75rem);
    text-transform: uppercase;
}
ul{
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    padding: 1rem;
}
.motivation{
    height: 44vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.quote, .lesson-recap{
    padding: clamp(1rem,2vw,2rem);
    padding-top: clamp(2.25rem, 3vw, 3rem);
    gap: clamp(0.75rem,2vw,1rem);
    display: flex;
    flex-direction: column;
}
.quote b, .lesson-recap b{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: clamp(0.75rem,2vw,1.5rem);
    text-transform: capitalize;
}
.lesson-recap p{
    align-self: center;
}
small{
    display: flex;
    width: 100%;
    justify-content: right;
    padding-right: clamp(1rem,2vw,2rem);
}
@media(width>=1440px){
    .hamburger{
        display: none;
    }
}
@media(width<1440px) and (width>790px){
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }
    .sidebar{
        border: none;
        border-bottom: var(--darkmode-card-border) 3px solid;
        border-radius: 0.5rem;
    }
    .sidebar.vertical{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .top img{
        display: none;
    }
    .crossroad, .stats, .user{
        display: none;
    }
    .welcome{
        height: auto;
    }
    .greeting{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .start-lesson{
        flex-wrap: wrap;
        height: auto;
    }
    .motivation{
        height: auto;
        width: 98%;
    }
    .lesson-recap{
        width: 100%;
    }
}
@media(width<=790px){
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }
    .sidebar{
        border: none;
        border-bottom: var(--darkmode-card-border) 3px solid;
        border-radius: 0.5rem;
    }
    .top img{
        display: none;
    }
    .crossroad, .stats, .user{
        display: none;
    }
    .welcome{
        height: auto;
        justify-content: center;
    }
    .greeting{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .start-lesson{
        flex-wrap: wrap;
        height: auto;
    }
    .motivation{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .lesson-recap{
        width: 100%;
    }
}